// 푸터 : 배정호 작성

@use "../base/variables" as *;

footer {
  padding: 32px 24px 80px;
  background: $neutral-footer-bg;

  * {
    color: $neutral-text-sub-light;
    font-size: $mobile-caption;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
  }

  .material-icons {
    color: $neutral-main-bg;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .footer-brand {
    .footer-logo {
      margin-bottom: 16px;

      a {
        text-decoration: none;
        font-size: $mobile-h4;
        font-weight: 700;
        color: $neutral-main-bg;
      }
    }

    .footer-description {
      line-height: 1.6;
      margin-bottom: 24px;
    }

    .footer-social {
      display: flex;
      gap: 24px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .material-icons {
        font-size: 28px;
      }
    }
  }

  .footer-section.service {
    display: none;
  }

  .footer-section {
    margin: 24px 0;

    .footer-title {
      font-weight: 500;
      color: $neutral-main-bg;
      font-size: $mobile-body;
      margin-bottom: 24px;
    }

    .footer-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;

      li {
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          text-decoration: none;
        }
      }
    }

    .footer-links {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      li {
        display: flex;
        align-items: center;

        &:not(:last-child)::after {
          content: "|";
          margin-left: 8px;
          padding: 0 8px;
          color: $neutral-main-bg;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;

    * {
      font-size: $mobile-small;
    }

    .footer-company {
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 4px;

      p {
        text-align: right;
        line-height: 1.6;
        color: $neutral-white-a5;
      }
    }

    .footer-copyright {
      display: block;
      text-align: right;
      color: $neutral-white-a5;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    * {
      font-size: $tablet-body;
      line-height: 27px;
    }

    .footer-brand {
      .footer-logo {
        a {
          font-size: $tablet-h3;
        }
      }

      .footer-social {
        a {
          .material-icons {
            font-size: 32px;
          }
        }
      }
    }

    .footer-section {
      .footer-title {
        font-weight: 500;
        font-size: $tablet-body-l;
      }
    }

    .footer-bottom {
      * {
        font-size: $tablet-caption;
      }
    }
  }
}

@media (min-width: 1280px) {
  .footer {
    padding: 48px 0 64px;

    * {
      font-size: $pc-body-m;
      line-height: 36px;
    }

    .footer-container {
      max-width: 1440px;
      margin: 0 auto;
      align-items: center;

      .footer-top {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .footer-brand {
          flex: 1;
          flex-direction: column;

          .footer-logo {
            a {
              font-size: $pc-h5;
            }
          }

          .footer-social {
            a {
              .material-icons {
                font-size: 40px;
              }
            }
          }
        }

        .footer-section.service {
          display: block;

          .footer-service-list {
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
              height: 27px;

              a {
                line-height: 27px;
              }
            }
          }
        }

        .footer-section {
          flex: 1;
          flex-direction: column;

          .footer-title {
            font-weight: 500;
            font-size: $pc-h6;
          }

          .footer-list {
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
              a {
                line-height: 27px;
                span {
                  line-height: 27px;
                }
              }
            }
          }

          .footer-links {
            flex-direction: column;
            gap: 8px;

            li {
              a {
                line-height: 27px;
              }

              &:not(:last-child)::after {
                content: "";
                color: transparent;
              }
            }
          }
        }
      }

      .footer-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        border-top: 1px solid $neutral-white-a2;
        padding-top: 32px;

        .text-box {
          display: flex;
        }

        * {
          font-size: $pc-body-m;
        }
      }

      .footer-company {
        align-items: flex-start;
      }
    }
  }
}
