// 헤더 : 배정호 작성

@use "../base/variables" as *;

// 헤더 공통
header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background: $neutral-main-bg;
  box-shadow: $header-shadow-pc;
  display: flex;
  justify-content: center;
  padding: 0 16px;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .header-nav {
      display: none;
    }
    .header-top {
      display: flex;
      justify-content: space-between;
      padding: 2px 0;

      > div {
        display: flex;
        flex: 1;
        align-content: center;
      }

      .header-left {
        justify-content: start;
        align-items: center;

        .header-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
        }

        .hamburger-btn-open {
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          padding: 4px;
        }

        .material-icons {
          font-size: 24px;
          color: $neutral-text-sub;
        }
      }

      .header-center {
        justify-content: center;
        align-content: center;

        .logo {
          padding: 20px 0;
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .header-right {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 16px 0;

        .site-header-btns {
          display: flex;
          gap: 4px;

          .header-btn {
            position: relative;
            background: transparent;
            display: flex;
            padding: 4px;

            .material-icons {
              font-size: 24px;
              color: $neutral-text-sub;
            }
          }
          .cart-badge {
            font-size: 12px;
            font-weight: 700;
            width: 16px;
            height: 16px;
            position: absolute;
            display: block;
            line-height: 16px;
            text-align: center;
            border-radius: 999px;
            top: 0%;
            right: 0%;
            color: $color-white;
            background: $brand-primary;
          }
        }
      }
    }
  }
}

// 헤더 A타입

// 헤더 B타입
.container.header-B,
.container.header-C {
  .header-center {
    .logo img {
      display: none;
    }
  }
}

// 헤더 C타입

@media (min-width: 768px) {
  .container.header-B,
  .container.header-C {
    .header-center {
      .logo img {
        display: block;
      }
    }
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 0;

    .container {
      width: 1440px;

      .header-top {
        padding: 8px 0 0;

        .header-left {
          .hamburger-btn-open {
            padding: 12px 36px 12px 12px;

            .material-icons {
              font-size: 32px;
              color: $neutral-title-black;
            }
          }
        }

        .header-center {
          .logo {
            cursor: pointer;
            width: 150px;
            padding: 12px 0;
          }
        }

        .header-right {
          .site-header-btns {
            gap: 24px;

            .header-btn {
              .material-icons {
                font-size: 32px;
                color: $neutral-title-black;
              }
            }
            .cart-badge {
              font-size: 16px;
              width: 20px;
              height: 20px;
              line-height: 20px;
              top: 0%;
              right: 0%;
            }
          }
        }
      }

      .header-nav {
        display: flex;
        align-items: center;

        a {
          padding: 16px 12px;
          font-size: 18px;
        }

        a.active {
          font-size: 20px;
          font-weight: 700;
          border-bottom: 4px solid;
        }
      }
    }
  }
}
