@use "../base/variables" as *;

.product-card {
  min-width: 160px;
  max-width: 240px;
  overflow: hidden;
  flex: 1;

  border: 1px solid $neutral-border;
  border-radius: 16px;

  font-family: $font-pretendard;

  * {
    font-weight: 400;
    font-size: 14px;
  }

  .product-image-link {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    .product-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .product-badge {
      position: absolute;

      padding: 2px 8px;
      border-radius: 999px;

      font-size: 12px;
      line-height: 1.4;
    }

    .badge-box {
      position: absolute;
      top: 8px;
      left: 8px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .product-badge-best {
        background: $brand-primary;
        color: $neutral-black;
        position: static;
      }

      .product-badge-new {
        background: $neutral-black;
        color: $neutral-white;
        position: static;
      }
    }

    .product-discount {
      position: absolute;
      top: 8px;
      right: 8px;
      left: auto;

      border-radius: 999px;

      background: $brand-emphasis;
      color: $neutral-white;

      font-size: 12px;
      font-weight: 500;
      line-height: 1.4;
    }

    .cart-add {
      position: absolute;
      bottom: 8px;
      right: 8px;
      box-sizing: border-box;
      padding: 8px;
      border-radius: 16px;
      display: flex;
      background: $neutral-main-bg;
      border: 1px solid $neutral-border;

      .material-icons {
        color: $neutral-text-sub;
      }
    }
  }

  .product-info {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .product-brand {
      color: $neutral-text-sub;
    }

    .product-title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;

      a {
        color: inherit;
        text-decoration: none;
        font-weight: 700;
      }
    }

    .product-rating {
      display: flex;
      align-items: center;
      gap: 6px;

      color: $neutral-text-sub;

      .rating-star {
        font-size: 20px;
        color: $brand-primary;
      }
    }

    .product-price {
      display: flex;
      align-items: end;
      gap: 8px;

      strong {
        color: $neutral-text-main;
        font-weight: 500;
        font-size: 14px;
      }

      del {
        color: $neutral-text-sub;
        font-size: 10px;
      }

      .product-sale {
        color: $brand-emphasis;
        font-size: 10px;
      }
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1280px) {
  .product-card {
    min-width: 320px;
    max-width: 480px;
    border-radius: 16px;

    .product-image-link {
      min-height: 320px;

      .product-badge {
        padding: 4px 16px;
        font-size: 16px;
      }

      .badge-box {
        top: 16px;
        left: 16px;
        gap: 8px;
      }

      .product-discount {
        position: absolute;
        top: 16px;
        right: 16px;
      }

      .cart-add {
        bottom: 16px;
        right: 16px;
        padding: 16px;
        border-radius: 20px;
        display: flex;
        border: 2px solid $neutral-border;
        transition: 0.4s;
        opacity: 0;

        .material-icons {
          color: transparent;
          font-size: 28px;
        }
      }
    }

    &:hover {
      .cart-add {
        opacity: 1;

        .material-icons {
          color: $neutral-text-sub;
        }

        &:hover {
          background: $neutral-text-sub;

          .material-icons {
            color: $neutral-text-sub-light;
          }
        }
      }
    }

    .product-info {
      padding: 12px 20px;
      gap: 4px;

      * {
        font-size: 18px;
      }

      .product-rating {
        gap: 8px;

        * {
          font-size: 16px;
        }

        .rating-star {
          font-size: 24px;
        }
      }

      .product-price {
        gap: 16px;

        strong {
          font-size: 18px;
        }

        del {
          font-size: 14px;
        }

        .product-sale {
          font-size: 14px;
        }
      }
    }
  }
}
